* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
}

.card-container {
  /* margin-top: 2000px; */
  display: flex;
  flex-direction: column; /* Items stack vertically */
  width: 100%; /* Make container fill the full width */
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 10px;
}

.offer-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #d45251;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.food-image {
  width: 100%;
  height: auto;
  max-height: calc(300vw / 5);
  object-fit: fill;
}

.card-content {
  padding: 15px;
}

.title-section {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  margin-right: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.details {
  margin-top: 10px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: gray;
}

.left-content {
  display: flex;
  flex-direction: column; /* 垂直排列兩個p元素 */
}

.rating {
  color: #ff9800;
  font-weight: bold;
}

.category {
  background-color: #e8e8e8;
  padding: 2px 6px;
  border-radius: 4px;
}
